// Common Color for cupido
$black:		#000;
$gray:		#f2f2f2;
$white:		#fff;
$pink:		#ec1a6d;
$orange:	#fe3f00;
$purple:	#673d9f;
$teal:		#04c3a5;

// $red: 	#b4593e;
// $green: #3d853e;
// $nude:	#f2ebe0;
// $blue: 	#a0b8be;
// $cyan: 	#456173;

$base_color: #eee;

$macFont: "san-serif", arial;
$winFont: "Microsoft Yahei", arial;

$icon: url("../images/glyphicons-halflings.png");
$icon_white: url("../images/glyphicons-halflings-white.png");