/* normalize.css 2012-03-11T12:53 UTC - http://github.com/necolas/normalize.css */
/* =============================================================================
   HTML5 display definitions
   ========================================================================== */
/*
 * Corrects block display not defined in IE6/7/8/9 & FF3
 */
/* line 21, ../resources/mebasic/basic/_reset.scss */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block;
}

/*
 * Corrects inline-block display not defined in IE6/7/8/9 & FF3
 */
/* line 31, ../resources/mebasic/basic/_reset.scss */
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}

/*
 * Prevents modern browsers from displaying 'audio' without controls
 * Remove excess height in iOS5 devices
 */
/* line 42, ../resources/mebasic/basic/_reset.scss */
audio:not([controls]) {
  display: none;
  height: 0;
}

/*
 * Addresses styling for 'hidden' attribute not present in IE7/8/9, FF3, S4
 * Known issue: no IE6 support
 */
/* line 52, ../resources/mebasic/basic/_reset.scss */
[hidden] {
  display: none;
}

/* =============================================================================
   Base
   ========================================================================== */
/*
 * 1. Corrects text resizing oddly in IE6/7 when body font-size is set using em units
 *    http://clagnut.com/blog/348/#c790
 * 2. Prevents iOS text size adjust after orientation change, without disabling user zoom
 *    www.456bereastreet.com/archive/201012/controlling_text_size_in_safari_for_ios_without_disabling_user_zoom/
 */
/* line 68, ../resources/mebasic/basic/_reset.scss */
html {
  font-size: 100%;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -ms-text-size-adjust: 100%;
  /* 2 */
}

/*
 * Addresses font-family inconsistency between 'textarea' and other form elements.
 */
/* line 82, ../resources/mebasic/basic/_reset.scss */
html,
button,
input,
select,
textarea {
  font-family: sans-serif;
}

/*
 * Addresses margins handled incorrectly in IE6/7
 */
/* line 90, ../resources/mebasic/basic/_reset.scss */
body {
  margin: 0;
  padding: 0;
}

/* =============================================================================
   Links
   ========================================================================== */
/*
 * Addresses outline displayed oddly in Chrome
 */
/* line 104, ../resources/mebasic/basic/_reset.scss */
a:focus {
  outline: thin dotted;
}

/*
 * Improves readability when focused and also mouse hovered in all browsers
 * people.opera.com/patrickl/experiments/keyboard/test
 */
/* line 114, ../resources/mebasic/basic/_reset.scss */
a:hover,
a:active {
  outline: 0;
}

/* =============================================================================
   Typography
   ========================================================================== */
/*
 * Addresses font sizes and margins set differently in IE6/7
 * Addresses font sizes within 'section' and 'article' in FF4+, Chrome, S5
 */
/* line 128, ../resources/mebasic/basic/_reset.scss */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* line 133, ../resources/mebasic/basic/_reset.scss */
h2 {
  font-size: 1.5em;
  margin: 0.83em 0;
}

/* line 138, ../resources/mebasic/basic/_reset.scss */
h3 {
  font-size: 1.17em;
  margin: 1em 0;
}

/* line 143, ../resources/mebasic/basic/_reset.scss */
h4 {
  font-size: 1em;
  margin: 1.33em 0;
}

/* line 148, ../resources/mebasic/basic/_reset.scss */
h5 {
  font-size: 0.83em;
  margin: 1.67em 0;
}

/* line 153, ../resources/mebasic/basic/_reset.scss */
h6 {
  font-size: 0.75em;
  margin: 2.33em 0;
}

/*
 * Addresses styling not present in IE7/8/9, S5, Chrome
 */
/* line 162, ../resources/mebasic/basic/_reset.scss */
abbr[title] {
  border-bottom: 1px dotted;
}

/*
 * Addresses style set to 'bolder' in FF3+, S4/5, Chrome
*/
/* line 171, ../resources/mebasic/basic/_reset.scss */
b,
strong {
  font-weight: bold;
}

/* line 175, ../resources/mebasic/basic/_reset.scss */
blockquote {
  margin: 1em 40px;
}

/*
 * Addresses styling not present in S5, Chrome
 */
/* line 183, ../resources/mebasic/basic/_reset.scss */
dfn {
  font-style: italic;
}

/*
 * Addresses styling not present in IE6/7/8/9
 */
/* line 191, ../resources/mebasic/basic/_reset.scss */
mark {
  background: #ff0;
  color: #000;
}

/*
 * Addresses margins set differently in IE6/7
 */
/* line 201, ../resources/mebasic/basic/_reset.scss */
p,
pre {
  margin: 1em 0;
}

/*
 * Corrects font family set oddly in IE6, S4/5, Chrome
 * en.wikipedia.org/wiki/User:Davidgothberg/Test59
 */
/* line 213, ../resources/mebasic/basic/_reset.scss */
pre,
code,
kbd,
samp {
  font-family: monospace, serif;
  _font-family: 'courier new', monospace;
  font-size: 1em;
}

/*
 * Improves readability of pre-formatted text in all browsers
 */
/* line 223, ../resources/mebasic/basic/_reset.scss */
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

/*
 * 1. Addresses CSS quotes not supported in IE6/7
 * 2. Addresses quote property not supported in S4
 */
/* 1 */
/* line 236, ../resources/mebasic/basic/_reset.scss */
q {
  quotes: none;
}

/* 2 */
/* line 243, ../resources/mebasic/basic/_reset.scss */
q:before,
q:after {
  content: '';
  content: none;
}

/* line 248, ../resources/mebasic/basic/_reset.scss */
small {
  font-size: 75%;
}

/*
 * Prevents sub and sup affecting line-height in all browsers
 * gist.github.com/413930
 */
/* line 258, ../resources/mebasic/basic/_reset.scss */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

/* line 265, ../resources/mebasic/basic/_reset.scss */
sup {
  top: -0.5em;
}

/* line 269, ../resources/mebasic/basic/_reset.scss */
sub {
  bottom: -0.25em;
}

/* =============================================================================
   Lists
   ========================================================================== */
/*
 * Addresses margins set differently in IE6/7
 */
/* line 285, ../resources/mebasic/basic/_reset.scss */
dl,
menu,
ol,
ul {
  margin: 1em 0;
}

/* line 289, ../resources/mebasic/basic/_reset.scss */
dd {
  margin: 0 0 0 40px;
}

/*
 * Addresses paddings set differently in IE6/7
 */
/* line 299, ../resources/mebasic/basic/_reset.scss */
menu,
ol,
ul {
  padding: 0 0 0 40px;
}

/*
 * Corrects list images handled incorrectly in IE7
 */
/* line 308, ../resources/mebasic/basic/_reset.scss */
nav ul,
nav ol {
  list-style: none;
  list-style-image: none;
}

/* =============================================================================
   Embedded content
   ========================================================================== */
/*
 * 1. Removes border when inside 'a' element in IE6/7/8/9, FF3
 * 2. Improves image quality when scaled in IE7
 *    code.flickr.com/blog/2008/11/12/on-ui-quality-the-little-things-client-side-image-resizing/
 */
/* line 324, ../resources/mebasic/basic/_reset.scss */
img {
  border: 0;
  /* 1 */
  -ms-interpolation-mode: bicubic;
  /* 2 */
}

/*
 * Corrects overflow displayed oddly in IE9
 */
/* line 333, ../resources/mebasic/basic/_reset.scss */
svg:not(:root) {
  overflow: hidden;
}

/* =============================================================================
   Figures
   ========================================================================== */
/*
 * Addresses margin not present in IE6/7/8/9, S5, O11
 */
/* line 346, ../resources/mebasic/basic/_reset.scss */
figure {
  margin: 0;
}

/* =============================================================================
   Forms
   ========================================================================== */
/*
 * Corrects margin displayed oddly in IE6/7
 */
/* line 359, ../resources/mebasic/basic/_reset.scss */
form {
  margin: 0;
}

/*
 * Define consistent border, margin, and padding
 */
/* line 367, ../resources/mebasic/basic/_reset.scss */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/*
 * 1. Corrects color not being inherited in IE6/7/8/9
 * 2. Corrects text not wrapping in FF3
 * 3. Corrects alignment displayed oddly in IE6/7
 */
/* line 379, ../resources/mebasic/basic/_reset.scss */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  white-space: normal;
  /* 2 */
  *margin-left: -7px;
  /* 3 */
}

/*
 * 1. Corrects font size not being inherited in all browsers
 * 2. Addresses margins set differently in IE6/7, FF3+, S5, Chrome
 * 3. Improves appearance and consistency in all browsers
 */
/* line 395, ../resources/mebasic/basic/_reset.scss */
button,
input,
select,
textarea {
  font-size: 100%;
  /* 1 */
  margin: 0;
  /* 2 */
  vertical-align: baseline;
  /* 3 */
  *vertical-align: middle;
  /* 3 */
}

/*
 * Addresses FF3/4 setting line-height on 'input' using !important in the UA stylesheet
 */
/* line 407, ../resources/mebasic/basic/_reset.scss */
button,
input {
  line-height: normal;
  /* 1 */
}

/*
 * 1. Improves usability and consistency of cursor style between image-type 'input' and others
 * 2. Corrects inability to style clickable 'input' types in iOS
 * 3. Removes inner spacing in IE7 without affecting normal text inputs
 *    Known issue: inner spacing remains in IE6
 */
/* line 421, ../resources/mebasic/basic/_reset.scss */
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
  /* 1 */
  -webkit-appearance: button;
  /* 2 */
  *overflow: visible;
  /* 3 */
}

/*
 * Re-set default cursor for disabled elements
 */
/* line 432, ../resources/mebasic/basic/_reset.scss */
button[disabled],
input[disabled] {
  cursor: default;
}

/*
 * 1. Addresses box sizing set to content-box in IE8/9
 * 2. Removes excess padding in IE8/9
 * 3. Removes excess padding in IE7
      Known issue: excess padding remains in IE6
 */
/* line 444, ../resources/mebasic/basic/_reset.scss */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
  *height: 13px;
  /* 3 */
  *width: 13px;
  /* 3 */
}

/*
 * 1. Addresses appearance set to searchfield in S5, Chrome
 * 2. Addresses box-sizing set to border-box in S5, Chrome (include -moz to future-proof)
 */
/* line 456, ../resources/mebasic/basic/_reset.scss */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box;
}

/*
 * Removes inner padding and search cancel button in S5, Chrome on OS X
 */
/* line 468, ../resources/mebasic/basic/_reset.scss */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

/*
 * Removes inner padding and border in FF3+
 * www.sitepen.com/blog/2008/05/14/the-devils-in-the-details-fixing-dojos-toolbar-buttons/
 */
/* line 478, ../resources/mebasic/basic/_reset.scss */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/*
 * 1. Removes default vertical scrollbar in IE6/7/8/9
 * 2. Improves readability and alignment in all browsers
 */
/* line 488, ../resources/mebasic/basic/_reset.scss */
textarea {
  overflow: auto;
  /* 1 */
  vertical-align: top;
  /* 2 */
}

/* =============================================================================
   Tables
   ========================================================================== */
/*
 * Remove most spacing between table cells
 */
/* line 502, ../resources/mebasic/basic/_reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/** Core 核心 */
/* line 3, ../resources/mebasic/basic/_core.scss */
body {
  color: #000;
  font-family: "san-serif", arial, "Microsoft Yahei", STHeiTi, SimSun;
  font-size: 12px;
  font-weight: normal;
}

/* line 12, ../resources/mebasic/basic/_core.scss */
ul.nav,
ul.nav > li {
  list-style: none;
  list-style-image: none;
  padding: 0;
  margin: 0;
}

/* line 22, ../resources/mebasic/basic/_core.scss */
input,
textarea,
select,
button {
  color: #666;
  font-family: "san-serif", arial, "Microsoft Yahei", STHeiTi, SimSun;
  outline: none;
  font-size: 12px;
  font-weight: normal;
}

/* line 34, ../resources/mebasic/basic/_core.scss */
a {
  color: #333333;
  text-decoration: none;
}
/* line 39, ../resources/mebasic/basic/_core.scss */
a:hover {
  color: #1a1a1a;
  text-decoration: underline;
}

/* line 46, ../resources/mebasic/basic/_core.scss */
.clearfix {
  *zoom: 1;
}
/* line 5, ../resources/mebasic/basic/_mixin.scss */
.clearfix:before, .clearfix:after {
  display: table;
  content: "";
}
/* line 9, ../resources/mebasic/basic/_mixin.scss */
.clearfix:after {
  clear: both;
}

/* line 50, ../resources/mebasic/basic/_core.scss */
.pull-right {
  float: right;
}

/* 按钮 */
/* line 5, ../resources/mebasic/basic/_button.scss */
.btn {
  min-width: 50px;
  height: 27px;
  text-decoration: none;
  font-size: 12px;
  line-height: 27px;
  vertical-align: bottom;
  text-align: center;
  border: 1px solid #ccc;
  padding: 0 10px;
  cursor: pointer;
  display: inline-block;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
}
/* line 24, ../resources/mebasic/basic/_button.scss */
.btn.btn-large {
  height: 32px;
  font-size: 14px;
  line-height: 32px;
}
/* line 29, ../resources/mebasic/basic/_button.scss */
.btn.btn-small {
  min-width: 0;
  height: 20px;
  font-size: 10px;
  line-height: 20px;
}

/* 蓝色 */
/* line 38, ../resources/mebasic/basic/_button.scss */
.btn-ok {
  color: #fff;
  border-color: #1a70fe;
  background-color: #4d90fe;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #4d90fe), color-stop(100%, #3480fe));
  background-image: -webkit-linear-gradient(top, #4d90fe, #3480fe);
  background-image: -moz-linear-gradient(top, #4d90fe, #3480fe);
  background-image: -o-linear-gradient(top, #4d90fe, #3480fe);
  background-image: -ms-linear-gradient(top, #4d90fe, #3480fe);
  background-image: linear-gradient(top, #4d90fe, #3480fe);
}
/* line 43, ../resources/mebasic/basic/_button.scss */
.btn-ok:hover {
  color: #fff;
  border-color: #0157e4;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #3480fe), color-stop(100%, #3480fe));
  background-image: -webkit-linear-gradient(top, #3480fe, #3480fe);
  background-image: -moz-linear-gradient(top, #3480fe, #3480fe);
  background-image: -o-linear-gradient(top, #3480fe, #3480fe);
  background-image: -ms-linear-gradient(top, #3480fe, #3480fe);
  background-image: linear-gradient(top, #3480fe, #3480fe);
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}
/* line 50, ../resources/mebasic/basic/_button.scss */
.btn-ok.disabled, .btn-ok[disabled] {
  border-color: #0144b1;
  background: #0157e4;
  color: rgba(255, 255, 255, 0.5);
}

/* line 59, ../resources/mebasic/basic/_button.scss */
.btn-cancel {
  color: #444;
  border-color: #dcdcdc;
  background-color: #f5f5f5;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f5f5f5), color-stop(100%, #f1f1f1));
  background-image: -webkit-linear-gradient(top, #f5f5f5, #f1f1f1);
  background-image: -moz-linear-gradient(top, #f5f5f5, #f1f1f1);
  background-image: -o-linear-gradient(top, #f5f5f5, #f1f1f1);
  background-image: -ms-linear-gradient(top, #f5f5f5, #f1f1f1);
  background-image: linear-gradient(top, #f5f5f5, #f1f1f1);
}
/* line 64, ../resources/mebasic/basic/_button.scss */
.btn-cancel:hover {
  color: #222;
  border-color: #c6c6c6;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f8f8f8), color-stop(100%, #f1f1f1));
  background-image: -webkit-linear-gradient(top, #f8f8f8, #f1f1f1);
  background-image: -moz-linear-gradient(top, #f8f8f8, #f1f1f1);
  background-image: -o-linear-gradient(top, #f8f8f8, #f1f1f1);
  background-image: -ms-linear-gradient(top, #f8f8f8, #f1f1f1);
  background-image: linear-gradient(top, #f8f8f8, #f1f1f1);
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}

/* 红色 */
/* line 73, ../resources/mebasic/basic/_button.scss */
.btn-important {
  color: #fff;
  border-color: #c30;
  background-color: #d14836;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #dd4b39), color-stop(100%, #d14836));
  background-image: -webkit-linear-gradient(top, #dd4b39, #d14836);
  background-image: -moz-linear-gradient(top, #dd4b39, #d14836);
  background-image: -o-linear-gradient(top, #dd4b39, #d14836);
  background-image: -ms-linear-gradient(top, #dd4b39, #d14836);
  background-image: linear-gradient(top, #dd4b39, #d14836);
}
/* line 78, ../resources/mebasic/basic/_button.scss */
.btn-important:hover {
  color: #fff;
  border-color: #c00;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #d14836), color-stop(100%, #d14836));
  background-image: -webkit-linear-gradient(top, #d14836, #d14836);
  background-image: -moz-linear-gradient(top, #d14836, #d14836);
  background-image: -o-linear-gradient(top, #d14836, #d14836);
  background-image: -ms-linear-gradient(top, #d14836, #d14836);
  background-image: linear-gradient(top, #d14836, #d14836);
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}

/* 绿色 */
/* line 87, ../resources/mebasic/basic/_button.scss */
.btn-success {
  color: #fff;
  border-color: #29691d;
  background-color: #3d9400;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #3d9400), color-stop(100%, #398a00));
  background-image: -webkit-linear-gradient(top, #3d9400, #398a00);
  background-image: -moz-linear-gradient(top, #3d9400, #398a00);
  background-image: -o-linear-gradient(top, #3d9400, #398a00);
  background-image: -ms-linear-gradient(top, #3d9400, #398a00);
  background-image: linear-gradient(top, #3d9400, #398a00);
}
/* line 92, ../resources/mebasic/basic/_button.scss */
.btn-success:hover {
  color: #fff;
  border-color: #29691d;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #398a00), color-stop(100%, #398a00));
  background-image: -webkit-linear-gradient(top, #398a00, #398a00);
  background-image: -moz-linear-gradient(top, #398a00, #398a00);
  background-image: -o-linear-gradient(top, #398a00, #398a00);
  background-image: -ms-linear-gradient(top, #398a00, #398a00);
  background-image: linear-gradient(top, #398a00, #398a00);
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}

/* 黄色 */
/* line 100, ../resources/mebasic/basic/_button.scss */
.btn-warming {
  color: #FFF;
  border-color: #e08d01;
  background-color: #faa732;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffa001), color-stop(100%, #f39800));
  background-image: -webkit-linear-gradient(top, #ffa001, #f39800);
  background-image: -moz-linear-gradient(top, #ffa001, #f39800);
  background-image: -o-linear-gradient(top, #ffa001, #f39800);
  background-image: -ms-linear-gradient(top, #ffa001, #f39800);
  background-image: linear-gradient(top, #ffa001, #f39800);
}
/* line 105, ../resources/mebasic/basic/_button.scss */
.btn-warming:hover {
  color: #FFF;
  border-color: #e08d01;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f39800), color-stop(100%, #f39800));
  background-image: -webkit-linear-gradient(top, #f39800, #f39800);
  background-image: -moz-linear-gradient(top, #f39800, #f39800);
  background-image: -o-linear-gradient(top, #f39800, #f39800);
  background-image: -ms-linear-gradient(top, #f39800, #f39800);
  background-image: linear-gradient(top, #f39800, #f39800);
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}

/* 黑色 */
/* line 113, ../resources/mebasic/basic/_button.scss */
.btn-inverse {
  color: #FFF;
  border-color: #000;
  background-color: #262626;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #454545), color-stop(100%, #262626));
  background-image: -webkit-linear-gradient(top, #454545, #262626);
  background-image: -moz-linear-gradient(top, #454545, #262626);
  background-image: -o-linear-gradient(top, #454545, #262626);
  background-image: -ms-linear-gradient(top, #454545, #262626);
  background-image: linear-gradient(top, #454545, #262626);
}
/* line 118, ../resources/mebasic/basic/_button.scss */
.btn-inverse:hover {
  color: #FFF;
  border-color: #000;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #262626), color-stop(100%, #262626));
  background-image: -webkit-linear-gradient(top, #262626, #262626);
  background-image: -moz-linear-gradient(top, #262626, #262626);
  background-image: -o-linear-gradient(top, #262626, #262626);
  background-image: -ms-linear-gradient(top, #262626, #262626);
  background-image: linear-gradient(top, #262626, #262626);
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}

/* line 127, ../resources/mebasic/basic/_button.scss */
a.btn {
  text-decoration: none;
}

/* line 131, ../resources/mebasic/basic/_button.scss */
button.btn,
input[type='submit'].btn {
  min-width: 65px;
  height: 28px;
  line-height: normal;
}
/* line 135, ../resources/mebasic/basic/_button.scss */
button.btn.small,
input[type='submit'].btn.small {
  min-width: 0;
  height: 22px;
  font-size: 9px;
  line-height: normal;
}

/* line 14, ../sass/_tables.scss */
/* line 2, ../resources/mebasic/basic/_table.scss */
table {
  max-width: 100%;
  background-color: transparent;
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 24, ../sass/_tables.scss */
/* line 10, ../resources/mebasic/basic/_table.scss */
.table {
  width: 100%;
  margin-bottom: 18px;
}

/* line 29, ../sass/_tables.scss */
/* line 16, ../resources/mebasic/basic/_table.scss */
.table th,
.table td {
  padding: 8px;
  line-height: 18px;
  text-align: left;
  vertical-align: top;
  border-top: 1px solid #dddddd;
}

/* line 36, ../sass/_tables.scss */
/* line 24, ../resources/mebasic/basic/_table.scss */
.table th {
  font-weight: bold;
}

/* line 40, ../sass/_tables.scss */
/* line 28, ../resources/mebasic/basic/_table.scss */
.table thead th {
  vertical-align: bottom;
}

/* line 49, ../sass/_tables.scss */
/* line 37, ../resources/mebasic/basic/_table.scss */
.table caption + thead tr:first-child th,
.table caption + thead tr:first-child td,
.table colgroup + thead tr:first-child th,
.table colgroup + thead tr:first-child td,
.table thead:first-child tr:first-child th,
.table thead:first-child tr:first-child td {
  border-top: 0;
}

/* line 53, ../sass/_tables.scss */
/* line 41, ../resources/mebasic/basic/_table.scss */
.table tbody + tbody {
  border-top: 2px solid #dddddd;
}

/* line 65, ../sass/_tables.scss */
/* line 47, ../resources/mebasic/basic/_table.scss */
.table-condensed th,
.table-condensed td {
  padding: 4px 5px;
}

/* line 74, ../sass/_tables.scss */
/* line 52, ../resources/mebasic/basic/_table.scss */
.table-bordered {
  border: 1px solid #dddddd;
  border-collapse: separate;
  *border-collapse: collapsed;
  border-left: 0;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

/* line 81, ../sass/_tables.scss */
/* line 63, ../resources/mebasic/basic/_table.scss */
.table-bordered th,
.table-bordered td {
  border-left: 1px solid #dddddd;
}

/* line 93, ../sass/_tables.scss */
/* line 75, ../resources/mebasic/basic/_table.scss */
.table-bordered caption + thead tr:first-child th,
.table-bordered caption + tbody tr:first-child th,
.table-bordered caption + tbody tr:first-child td,
.table-bordered colgroup + thead tr:first-child th,
.table-bordered colgroup + tbody tr:first-child th,
.table-bordered colgroup + tbody tr:first-child td,
.table-bordered thead:first-child tr:first-child th,
.table-bordered tbody:first-child tr:first-child th,
.table-bordered tbody:first-child tr:first-child td {
  border-top: 0;
}

/* line 98, ../sass/_tables.scss */
/* line 80, ../resources/mebasic/basic/_table.scss */
.table-bordered thead:first-child tr:first-child th:first-child,
.table-bordered tbody:first-child tr:first-child td:first-child {
  -webkit-border-top-left-radius: 4px;
  border-top-left-radius: 4px;
  -moz-border-radius-topleft: 4px;
}

/* line 104, ../sass/_tables.scss */
/* line 87, ../resources/mebasic/basic/_table.scss */
.table-bordered thead:first-child tr:first-child th:last-child,
.table-bordered tbody:first-child tr:first-child td:last-child {
  -webkit-border-top-right-radius: 4px;
  border-top-right-radius: 4px;
  -moz-border-radius-topright: 4px;
}

/* line 111, ../sass/_tables.scss */
/* line 94, ../resources/mebasic/basic/_table.scss */
.table-bordered thead:last-child tr:last-child th:first-child,
.table-bordered tbody:last-child tr:last-child td:first-child {
  -webkit-border-radius: 0 0 0 4px;
  -moz-border-radius: 0 0 0 4px;
  border-radius: 0 0 0 4px;
  -webkit-border-bottom-left-radius: 4px;
  border-bottom-left-radius: 4px;
  -moz-border-radius-bottomleft: 4px;
}

/* line 118, ../sass/_tables.scss */
/* line 104, ../resources/mebasic/basic/_table.scss */
.table-bordered thead:last-child tr:last-child th:last-child,
.table-bordered tbody:last-child tr:last-child td:last-child {
  -webkit-border-bottom-right-radius: 4px;
  border-bottom-right-radius: 4px;
  -moz-border-radius-bottomright: 4px;
}

/* line 133, ../sass/_tables.scss */
/* line 112, ../resources/mebasic/basic/_table.scss */
.table-striped tbody tr:nth-child(odd) td,
.table-striped tbody tr:nth-child(odd) th {
  background-color: #f9f9f9;
}

/* line 145, ../sass/_tables.scss */
/* line 118, ../resources/mebasic/basic/_table.scss */
.table tbody tr:hover td,
.table tbody tr:hover th {
  background-color: #f5f5f5;
}

/* line 157, ../sass/_tables.scss */
/* line 123, ../resources/mebasic/basic/_table.scss */
table .span1 {
  float: none;
  width: 44px;
  margin-left: 0;
}

/* line 157, ../sass/_tables.scss */
/* line 129, ../resources/mebasic/basic/_table.scss */
table .span2 {
  float: none;
  width: 124px;
  margin-left: 0;
}

/* line 157, ../sass/_tables.scss */
/* line 135, ../resources/mebasic/basic/_table.scss */
table .span3 {
  float: none;
  width: 204px;
  margin-left: 0;
}

/* line 157, ../sass/_tables.scss */
/* line 141, ../resources/mebasic/basic/_table.scss */
table .span4 {
  float: none;
  width: 284px;
  margin-left: 0;
}

/* line 157, ../sass/_tables.scss */
/* line 147, ../resources/mebasic/basic/_table.scss */
table .span5 {
  float: none;
  width: 364px;
  margin-left: 0;
}

/* line 157, ../sass/_tables.scss */
/* line 153, ../resources/mebasic/basic/_table.scss */
table .span6 {
  float: none;
  width: 444px;
  margin-left: 0;
}

/* line 157, ../sass/_tables.scss */
/* line 159, ../resources/mebasic/basic/_table.scss */
table .span7 {
  float: none;
  width: 524px;
  margin-left: 0;
}

/* line 157, ../sass/_tables.scss */
/* line 165, ../resources/mebasic/basic/_table.scss */
table .span8 {
  float: none;
  width: 604px;
  margin-left: 0;
}

/* line 157, ../sass/_tables.scss */
/* line 171, ../resources/mebasic/basic/_table.scss */
table .span9 {
  float: none;
  width: 684px;
  margin-left: 0;
}

/* line 157, ../sass/_tables.scss */
/* line 177, ../resources/mebasic/basic/_table.scss */
table .span10 {
  float: none;
  width: 764px;
  margin-left: 0;
}

/* line 157, ../sass/_tables.scss */
/* line 183, ../resources/mebasic/basic/_table.scss */
table .span11 {
  float: none;
  width: 844px;
  margin-left: 0;
}

/* line 157, ../sass/_tables.scss */
/* line 189, ../resources/mebasic/basic/_table.scss */
table .span12 {
  float: none;
  width: 924px;
  margin-left: 0;
}

/* line 157, ../sass/_tables.scss */
/* line 195, ../resources/mebasic/basic/_table.scss */
table .span13 {
  float: none;
  width: 1004px;
  margin-left: 0;
}

/* line 157, ../sass/_tables.scss */
/* line 201, ../resources/mebasic/basic/_table.scss */
table .span14 {
  float: none;
  width: 1084px;
  margin-left: 0;
}

/* line 157, ../sass/_tables.scss */
/* line 207, ../resources/mebasic/basic/_table.scss */
table .span15 {
  float: none;
  width: 1164px;
  margin-left: 0;
}

/* line 157, ../sass/_tables.scss */
/* line 213, ../resources/mebasic/basic/_table.scss */
table .span16 {
  float: none;
  width: 1244px;
  margin-left: 0;
}

/* line 157, ../sass/_tables.scss */
/* line 219, ../resources/mebasic/basic/_table.scss */
table .span17 {
  float: none;
  width: 1324px;
  margin-left: 0;
}

/* line 157, ../sass/_tables.scss */
/* line 225, ../resources/mebasic/basic/_table.scss */
table .span18 {
  float: none;
  width: 1404px;
  margin-left: 0;
}

/* line 157, ../sass/_tables.scss */
/* line 231, ../resources/mebasic/basic/_table.scss */
table .span19 {
  float: none;
  width: 1484px;
  margin-left: 0;
}

/* line 157, ../sass/_tables.scss */
/* line 237, ../resources/mebasic/basic/_table.scss */
table .span20 {
  float: none;
  width: 1564px;
  margin-left: 0;
}

/* line 157, ../sass/_tables.scss */
/* line 243, ../resources/mebasic/basic/_table.scss */
table .span21 {
  float: none;
  width: 1644px;
  margin-left: 0;
}

/* line 157, ../sass/_tables.scss */
/* line 249, ../resources/mebasic/basic/_table.scss */
table .span22 {
  float: none;
  width: 1724px;
  margin-left: 0;
}

/* line 157, ../sass/_tables.scss */
/* line 255, ../resources/mebasic/basic/_table.scss */
table .span23 {
  float: none;
  width: 1804px;
  margin-left: 0;
}

/* line 157, ../sass/_tables.scss */
/* line 261, ../resources/mebasic/basic/_table.scss */
table .span24 {
  float: none;
  width: 1884px;
  margin-left: 0;
}

/* line 2, ../resources/mebasic/basic/_icon.scss */
[class^="icon-"],
[class*=" icon-"] {
  display: inline-block;
  width: 14px;
  height: 14px;
  *margin-right: .3em;
  line-height: 14px;
  vertical-align: text-top;
  background-image: url("../images/glyphicons-halflings.png");
  background-position: 14px 14px;
  background-repeat: no-repeat;
}

/* line 15, ../resources/mebasic/basic/_icon.scss */
[class^="icon-"]:last-child,
[class*=" icon-"]:last-child {
  *margin-left: 0;
}

/* line 19, ../resources/mebasic/basic/_icon.scss */
.icon-white {
  background-image: url("../images/glyphicons-halflings-white.png");
}

/* line 23, ../resources/mebasic/basic/_icon.scss */
.icon-glass {
  background-position: 0      0;
}

/* line 27, ../resources/mebasic/basic/_icon.scss */
.icon-music {
  background-position: -24px 0;
}

/* line 31, ../resources/mebasic/basic/_icon.scss */
.icon-search {
  background-position: -48px 0;
}

/* line 35, ../resources/mebasic/basic/_icon.scss */
.icon-envelope {
  background-position: -72px 0;
}

/* line 39, ../resources/mebasic/basic/_icon.scss */
.icon-heart {
  background-position: -96px 0;
}

/* line 43, ../resources/mebasic/basic/_icon.scss */
.icon-star {
  background-position: -120px 0;
}

/* line 47, ../resources/mebasic/basic/_icon.scss */
.icon-star-empty {
  background-position: -144px 0;
}

/* line 51, ../resources/mebasic/basic/_icon.scss */
.icon-user {
  background-position: -168px 0;
}

/* line 55, ../resources/mebasic/basic/_icon.scss */
.icon-film {
  background-position: -192px 0;
}

/* line 59, ../resources/mebasic/basic/_icon.scss */
.icon-th-large {
  background-position: -216px 0;
}

/* line 63, ../resources/mebasic/basic/_icon.scss */
.icon-th {
  background-position: -240px 0;
}

/* line 67, ../resources/mebasic/basic/_icon.scss */
.icon-th-list {
  background-position: -264px 0;
}

/* line 71, ../resources/mebasic/basic/_icon.scss */
.icon-ok {
  background-position: -288px 0;
}

/* line 75, ../resources/mebasic/basic/_icon.scss */
.icon-remove {
  background-position: -312px 0;
}

/* line 79, ../resources/mebasic/basic/_icon.scss */
.icon-zoom-in {
  background-position: -336px 0;
}

/* line 83, ../resources/mebasic/basic/_icon.scss */
.icon-zoom-out {
  background-position: -360px 0;
}

/* line 87, ../resources/mebasic/basic/_icon.scss */
.icon-off {
  background-position: -384px 0;
}

/* line 91, ../resources/mebasic/basic/_icon.scss */
.icon-signal {
  background-position: -408px 0;
}

/* line 95, ../resources/mebasic/basic/_icon.scss */
.icon-cog {
  background-position: -432px 0;
}

/* line 99, ../resources/mebasic/basic/_icon.scss */
.icon-trash {
  background-position: -456px 0;
}

/* line 103, ../resources/mebasic/basic/_icon.scss */
.icon-home {
  background-position: 0 -24px;
}

/* line 107, ../resources/mebasic/basic/_icon.scss */
.icon-file {
  background-position: -24px -24px;
}

/* line 111, ../resources/mebasic/basic/_icon.scss */
.icon-time {
  background-position: -48px -24px;
}

/* line 115, ../resources/mebasic/basic/_icon.scss */
.icon-road {
  background-position: -72px -24px;
}

/* line 119, ../resources/mebasic/basic/_icon.scss */
.icon-download-alt {
  background-position: -96px -24px;
}

/* line 123, ../resources/mebasic/basic/_icon.scss */
.icon-download {
  background-position: -120px -24px;
}

/* line 127, ../resources/mebasic/basic/_icon.scss */
.icon-upload {
  background-position: -144px -24px;
}

/* line 131, ../resources/mebasic/basic/_icon.scss */
.icon-inbox {
  background-position: -168px -24px;
}

/* line 135, ../resources/mebasic/basic/_icon.scss */
.icon-play-circle {
  background-position: -192px -24px;
}

/* line 139, ../resources/mebasic/basic/_icon.scss */
.icon-repeat {
  background-position: -216px -24px;
}

/* line 143, ../resources/mebasic/basic/_icon.scss */
.icon-refresh {
  background-position: -240px -24px;
}

/* line 147, ../resources/mebasic/basic/_icon.scss */
.icon-list-alt {
  background-position: -264px -24px;
}

/* line 151, ../resources/mebasic/basic/_icon.scss */
.icon-lock {
  background-position: -287px -24px;
}

/* line 155, ../resources/mebasic/basic/_icon.scss */
.icon-flag {
  background-position: -312px -24px;
}

/* line 159, ../resources/mebasic/basic/_icon.scss */
.icon-headphones {
  background-position: -336px -24px;
}

/* line 163, ../resources/mebasic/basic/_icon.scss */
.icon-volume-off {
  background-position: -360px -24px;
}

/* line 167, ../resources/mebasic/basic/_icon.scss */
.icon-volume-down {
  background-position: -384px -24px;
}

/* line 171, ../resources/mebasic/basic/_icon.scss */
.icon-volume-up {
  background-position: -408px -24px;
}

/* line 175, ../resources/mebasic/basic/_icon.scss */
.icon-qrcode {
  background-position: -432px -24px;
}

/* line 179, ../resources/mebasic/basic/_icon.scss */
.icon-barcode {
  background-position: -456px -24px;
}

/* line 183, ../resources/mebasic/basic/_icon.scss */
.icon-tag {
  background-position: 0 -48px;
}

/* line 187, ../resources/mebasic/basic/_icon.scss */
.icon-tags {
  background-position: -25px -48px;
}

/* line 191, ../resources/mebasic/basic/_icon.scss */
.icon-book {
  background-position: -48px -48px;
}

/* line 195, ../resources/mebasic/basic/_icon.scss */
.icon-bookmark {
  background-position: -72px -48px;
}

/* line 199, ../resources/mebasic/basic/_icon.scss */
.icon-print {
  background-position: -96px -48px;
}

/* line 203, ../resources/mebasic/basic/_icon.scss */
.icon-camera {
  background-position: -120px -48px;
}

/* line 207, ../resources/mebasic/basic/_icon.scss */
.icon-font {
  background-position: -144px -48px;
}

/* line 211, ../resources/mebasic/basic/_icon.scss */
.icon-bold {
  background-position: -167px -48px;
}

/* line 215, ../resources/mebasic/basic/_icon.scss */
.icon-italic {
  background-position: -192px -48px;
}

/* line 219, ../resources/mebasic/basic/_icon.scss */
.icon-text-height {
  background-position: -216px -48px;
}

/* line 223, ../resources/mebasic/basic/_icon.scss */
.icon-text-width {
  background-position: -240px -48px;
}

/* line 227, ../resources/mebasic/basic/_icon.scss */
.icon-align-left {
  background-position: -264px -48px;
}

/* line 231, ../resources/mebasic/basic/_icon.scss */
.icon-align-center {
  background-position: -288px -48px;
}

/* line 235, ../resources/mebasic/basic/_icon.scss */
.icon-align-right {
  background-position: -312px -48px;
}

/* line 239, ../resources/mebasic/basic/_icon.scss */
.icon-align-justify {
  background-position: -336px -48px;
}

/* line 243, ../resources/mebasic/basic/_icon.scss */
.icon-list {
  background-position: -360px -48px;
}

/* line 247, ../resources/mebasic/basic/_icon.scss */
.icon-indent-left {
  background-position: -384px -48px;
}

/* line 251, ../resources/mebasic/basic/_icon.scss */
.icon-indent-right {
  background-position: -408px -48px;
}

/* line 255, ../resources/mebasic/basic/_icon.scss */
.icon-facetime-video {
  background-position: -432px -48px;
}

/* line 259, ../resources/mebasic/basic/_icon.scss */
.icon-picture {
  background-position: -456px -48px;
}

/* line 263, ../resources/mebasic/basic/_icon.scss */
.icon-pencil {
  background-position: 0 -72px;
}

/* line 267, ../resources/mebasic/basic/_icon.scss */
.icon-map-marker {
  background-position: -24px -72px;
}

/* line 271, ../resources/mebasic/basic/_icon.scss */
.icon-adjust {
  background-position: -48px -72px;
}

/* line 275, ../resources/mebasic/basic/_icon.scss */
.icon-tint {
  background-position: -72px -72px;
}

/* line 279, ../resources/mebasic/basic/_icon.scss */
.icon-edit {
  background-position: -96px -72px;
}

/* line 283, ../resources/mebasic/basic/_icon.scss */
.icon-share {
  background-position: -120px -72px;
}

/* line 287, ../resources/mebasic/basic/_icon.scss */
.icon-check {
  background-position: -144px -72px;
}

/* line 291, ../resources/mebasic/basic/_icon.scss */
.icon-move {
  background-position: -168px -72px;
}

/* line 295, ../resources/mebasic/basic/_icon.scss */
.icon-step-backward {
  background-position: -192px -72px;
}

/* line 299, ../resources/mebasic/basic/_icon.scss */
.icon-fast-backward {
  background-position: -216px -72px;
}

/* line 303, ../resources/mebasic/basic/_icon.scss */
.icon-backward {
  background-position: -240px -72px;
}

/* line 307, ../resources/mebasic/basic/_icon.scss */
.icon-play {
  background-position: -264px -72px;
}

/* line 311, ../resources/mebasic/basic/_icon.scss */
.icon-pause {
  background-position: -288px -72px;
}

/* line 315, ../resources/mebasic/basic/_icon.scss */
.icon-stop {
  background-position: -312px -72px;
}

/* line 319, ../resources/mebasic/basic/_icon.scss */
.icon-forward {
  background-position: -336px -72px;
}

/* line 323, ../resources/mebasic/basic/_icon.scss */
.icon-fast-forward {
  background-position: -360px -72px;
}

/* line 327, ../resources/mebasic/basic/_icon.scss */
.icon-step-forward {
  background-position: -384px -72px;
}

/* line 331, ../resources/mebasic/basic/_icon.scss */
.icon-eject {
  background-position: -408px -72px;
}

/* line 335, ../resources/mebasic/basic/_icon.scss */
.icon-chevron-left {
  background-position: -432px -72px;
}

/* line 339, ../resources/mebasic/basic/_icon.scss */
.icon-chevron-right {
  background-position: -456px -72px;
}

/* line 343, ../resources/mebasic/basic/_icon.scss */
.icon-plus-sign {
  background-position: 0 -96px;
}

/* line 347, ../resources/mebasic/basic/_icon.scss */
.icon-minus-sign {
  background-position: -24px -96px;
}

/* line 351, ../resources/mebasic/basic/_icon.scss */
.icon-remove-sign {
  background-position: -48px -96px;
}

/* line 355, ../resources/mebasic/basic/_icon.scss */
.icon-ok-sign {
  background-position: -72px -96px;
}

/* line 359, ../resources/mebasic/basic/_icon.scss */
.icon-question-sign {
  background-position: -96px -96px;
}

/* line 363, ../resources/mebasic/basic/_icon.scss */
.icon-info-sign {
  background-position: -120px -96px;
}

/* line 367, ../resources/mebasic/basic/_icon.scss */
.icon-screenshot {
  background-position: -144px -96px;
}

/* line 371, ../resources/mebasic/basic/_icon.scss */
.icon-remove-circle {
  background-position: -168px -96px;
}

/* line 375, ../resources/mebasic/basic/_icon.scss */
.icon-ok-circle {
  background-position: -192px -96px;
}

/* line 379, ../resources/mebasic/basic/_icon.scss */
.icon-ban-circle {
  background-position: -216px -96px;
}

/* line 383, ../resources/mebasic/basic/_icon.scss */
.icon-arrow-left {
  background-position: -240px -96px;
}

/* line 387, ../resources/mebasic/basic/_icon.scss */
.icon-arrow-right {
  background-position: -264px -96px;
}

/* line 391, ../resources/mebasic/basic/_icon.scss */
.icon-arrow-up {
  background-position: -289px -96px;
}

/* line 395, ../resources/mebasic/basic/_icon.scss */
.icon-arrow-down {
  background-position: -312px -96px;
}

/* line 399, ../resources/mebasic/basic/_icon.scss */
.icon-share-alt {
  background-position: -336px -96px;
}

/* line 403, ../resources/mebasic/basic/_icon.scss */
.icon-resize-full {
  background-position: -360px -96px;
}

/* line 407, ../resources/mebasic/basic/_icon.scss */
.icon-resize-small {
  background-position: -384px -96px;
}

/* line 411, ../resources/mebasic/basic/_icon.scss */
.icon-plus {
  background-position: -408px -96px;
}

/* line 415, ../resources/mebasic/basic/_icon.scss */
.icon-minus {
  background-position: -433px -96px;
}

/* line 419, ../resources/mebasic/basic/_icon.scss */
.icon-asterisk {
  background-position: -456px -96px;
}

/* line 423, ../resources/mebasic/basic/_icon.scss */
.icon-exclamation-sign {
  background-position: 0 -120px;
}

/* line 427, ../resources/mebasic/basic/_icon.scss */
.icon-gift {
  background-position: -24px -120px;
}

/* line 431, ../resources/mebasic/basic/_icon.scss */
.icon-leaf {
  background-position: -48px -120px;
}

/* line 435, ../resources/mebasic/basic/_icon.scss */
.icon-fire {
  background-position: -72px -120px;
}

/* line 439, ../resources/mebasic/basic/_icon.scss */
.icon-eye-open {
  background-position: -96px -120px;
}

/* line 443, ../resources/mebasic/basic/_icon.scss */
.icon-eye-close {
  background-position: -120px -120px;
}

/* line 447, ../resources/mebasic/basic/_icon.scss */
.icon-warning-sign {
  background-position: -144px -120px;
}

/* line 451, ../resources/mebasic/basic/_icon.scss */
.icon-plane {
  background-position: -168px -120px;
}

/* line 455, ../resources/mebasic/basic/_icon.scss */
.icon-calendar {
  background-position: -192px -120px;
}

/* line 459, ../resources/mebasic/basic/_icon.scss */
.icon-random {
  background-position: -216px -120px;
}

/* line 463, ../resources/mebasic/basic/_icon.scss */
.icon-comment {
  background-position: -240px -120px;
}

/* line 467, ../resources/mebasic/basic/_icon.scss */
.icon-magnet {
  background-position: -264px -120px;
}

/* line 471, ../resources/mebasic/basic/_icon.scss */
.icon-chevron-up {
  background-position: -288px -120px;
}

/* line 475, ../resources/mebasic/basic/_icon.scss */
.icon-chevron-down {
  background-position: -313px -119px;
}

/* line 479, ../resources/mebasic/basic/_icon.scss */
.icon-retweet {
  background-position: -336px -120px;
}

/* line 483, ../resources/mebasic/basic/_icon.scss */
.icon-shopping-cart {
  background-position: -360px -120px;
}

/* line 487, ../resources/mebasic/basic/_icon.scss */
.icon-folder-close {
  background-position: -384px -120px;
}

/* line 491, ../resources/mebasic/basic/_icon.scss */
.icon-folder-open {
  background-position: -408px -120px;
}

/* line 495, ../resources/mebasic/basic/_icon.scss */
.icon-resize-vertical {
  background-position: -432px -119px;
}

/* line 499, ../resources/mebasic/basic/_icon.scss */
.icon-resize-horizontal {
  background-position: -456px -118px;
}

/* line 503, ../resources/mebasic/basic/_icon.scss */
.icon-hdd {
  background-position: 0 -144px;
}

/* line 507, ../resources/mebasic/basic/_icon.scss */
.icon-bullhorn {
  background-position: -24px -144px;
}

/* line 511, ../resources/mebasic/basic/_icon.scss */
.icon-bell {
  background-position: -48px -144px;
}

/* line 515, ../resources/mebasic/basic/_icon.scss */
.icon-certificate {
  background-position: -72px -144px;
}

/* line 519, ../resources/mebasic/basic/_icon.scss */
.icon-thumbs-up {
  background-position: -96px -144px;
}

/* line 523, ../resources/mebasic/basic/_icon.scss */
.icon-thumbs-down {
  background-position: -120px -144px;
}

/* line 527, ../resources/mebasic/basic/_icon.scss */
.icon-hand-right {
  background-position: -144px -144px;
}

/* line 531, ../resources/mebasic/basic/_icon.scss */
.icon-hand-left {
  background-position: -168px -144px;
}

/* line 535, ../resources/mebasic/basic/_icon.scss */
.icon-hand-up {
  background-position: -192px -144px;
}

/* line 539, ../resources/mebasic/basic/_icon.scss */
.icon-hand-down {
  background-position: -216px -144px;
}

/* line 543, ../resources/mebasic/basic/_icon.scss */
.icon-circle-arrow-right {
  background-position: -240px -144px;
}

/* line 547, ../resources/mebasic/basic/_icon.scss */
.icon-circle-arrow-left {
  background-position: -264px -144px;
}

/* line 551, ../resources/mebasic/basic/_icon.scss */
.icon-circle-arrow-up {
  background-position: -288px -144px;
}

/* line 555, ../resources/mebasic/basic/_icon.scss */
.icon-circle-arrow-down {
  background-position: -312px -144px;
}

/* line 559, ../resources/mebasic/basic/_icon.scss */
.icon-globe {
  background-position: -336px -144px;
}

/* line 563, ../resources/mebasic/basic/_icon.scss */
.icon-wrench {
  background-position: -360px -144px;
}

/* line 567, ../resources/mebasic/basic/_icon.scss */
.icon-tasks {
  background-position: -384px -144px;
}

/* line 571, ../resources/mebasic/basic/_icon.scss */
.icon-filter {
  background-position: -408px -144px;
}

/* line 575, ../resources/mebasic/basic/_icon.scss */
.icon-briefcase {
  background-position: -432px -144px;
}

/* line 579, ../resources/mebasic/basic/_icon.scss */
.icon-fullscreen {
  background-position: -456px -144px;
}

/* line 1, ../resources/mebasic/project/_core.scss */
body {
  overflow: hidden;
  background: url(../images/bg.gif) repeat;
}

/* line 9, ../resources/mebasic/project/_core.scss */
.header {
  display: none;
  height: 50px;
  background: #000;
  *zoom: 1;
}
/* line 5, ../resources/mebasic/basic/_mixin.scss */
.header:before, .header:after {
  display: table;
  content: "";
}
/* line 9, ../resources/mebasic/basic/_mixin.scss */
.header:after {
  clear: both;
}
/* line 14, ../resources/mebasic/project/_core.scss */
.header .shortcut {
  float: right;
  margin-top: 11px;
  margin-right: 20px;
}
/* line 18, ../resources/mebasic/project/_core.scss */
.header .shortcut .mag-btn {
  height: 20px;
  line-height: 20px;
  display: inline-block;
  text-align: center;
  color: #fff;
  padding: 3px 10px;
  text-decoration: none;
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  -ms-border-radius: 1px;
  -o-border-radius: 1px;
  border-radius: 1px;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60);
  opacity: 0.6;
}
/* line 28, ../resources/mebasic/project/_core.scss */
.header .shortcut .mag-btn i {
  background-image: url("../images/glyphicons-halflings-white.png");
}
/* line 31, ../resources/mebasic/project/_core.scss */
.header .shortcut .mag-btn:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
  background: #09a1ec;
}

/* line 39, ../resources/mebasic/project/_core.scss */
.wrapper {
  position: absolute;
  top: 0;
  left: 0;
}

/* line 50, ../resources/mebasic/project/_core.scss */
.magazine {
  top: 0;
  height: 0;
  -webkit-transition: margin-left 1s;
  -moz-transition: margin-left 1s;
  -ms-transition: margin-left 1s;
  -o-transition: margin-left 1s;
  transition: margin-left 1s;
}
/* line 59, ../resources/mebasic/project/_core.scss */
.magazine .page-wrapper {
  -webkit-perspective: 5000px;
  perspective: 5000px;
}
/* line 64, ../resources/mebasic/project/_core.scss */
.magazine .shadow, .magazine.shadow {
  -webkit-box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}
/* line 71, ../resources/mebasic/project/_core.scss */
.magazine .odd::before, .magazine .even::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  -webkit-box-shadow: inset -10px 0 25px rgba(0, 0, 0, 0.7);
  -moz-box-shadow: inset -10px 0 25px rgba(0, 0, 0, 0.7);
  box-shadow: inset -10px 0 25px rgba(0, 0, 0, 0.7);
}
/* line 84, ../resources/mebasic/project/_core.scss */
.magazine .even::before {
  -webkit-box-shadow: inset 10px 0 25px rgba(0, 0, 0, 0.7);
  -moz-box-shadow: inset 10px 0 25px rgba(0, 0, 0, 0.7);
  box-shadow: inset 10px 0 25px rgba(0, 0, 0, 0.7);
}

/* line 91, ../resources/mebasic/project/_core.scss */
.zoomlay {
  display: none;
  overflow: hidden;
  background: rgba(0, 0, 0, 0.8);
  position: absolute;
  z-index: 220;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
/* line 101, ../resources/mebasic/project/_core.scss */
.zoomlay .page {
  margin: 0 auto;
}
/* line 104, ../resources/mebasic/project/_core.scss */
.zoomlay .page img {
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

/* line 111, ../resources/mebasic/project/_core.scss */
.toolkit {
  position: absolute;
  z-index: 200;
  top: 3px;
  left: 0;
  width: 122px;
}
/* line 117, ../resources/mebasic/project/_core.scss */
.toolkit .mag-btn {
  display: inline-block;
  padding: 5px;
  background: #000;
  margin-left: 10px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
  border-radius: 30px;
}
/* line 124, ../resources/mebasic/project/_core.scss */
.toolkit .mag-btn i {
  background-image: url("../images/glyphicons-halflings-white.png");
}
/* line 127, ../resources/mebasic/project/_core.scss */
.toolkit .mag-btn:hover {
  background: #09a1ec;
}
/* line 130, ../resources/mebasic/project/_core.scss */
.toolkit .mag-btn:first-child {
  margin-left: 0;
}
